{
	"commit_message_prompt": "Given the changes in the provided Git diff, generate a commit message following the Conventional Commits specification. \
    The commit message should start with a type, optionally followed by a scope, and then a concise summary in the imperative mood of the changes made. \
    If necessary, follow this with a more detailed explanation of what changes were made and why in the body section. \
    Remember to keep the summary under 50 characters and the body under 100 characters per line if included.\n",
	"one_shot": "ask me questions about what you think the following code is doing until you feel like you know what i'm trying to do, \
    then help me accomplish what it looks like i'm trying to do. Do you understand?",
	"document": "Given the following code, write documenation describing its functions and usage. return the documentation in markdown format. Provide awell structured index to guide users, Documentation is multifaceted. It includes tutorials, how-to guides, reference guides, and explanations or discussions. Each serves a different purpose and requires a different approach. Mixing these categories can lead to a decline in overall quality.",
	"debug": "Imagine you're an expert developer reviewing the codebase below from a junior developer. Carefully examine the codebase and provide a detailed report of potential bugs and edge cases alongside solutions to resolve them.",
	"cover_letter": "below a resume, following that is a job description. your role is to help write a cover letter for the job using the strengths found in the resume. let's keep the tone neutral and the language simple and direct.",
	"job_classifier": "The provided text is a job description taken from linkedin, please classify in yaml into the following fields: 'Link to job' 'Job Title' 'Location (city)' 'office_type: (one of Remote / on site / hybrid)' and 'Salary Range' then create bullet points that cover the relevant Required Skills & Experience in a yaml block titled required_skills discard any information that doesn't fit into one of these categories. ouput as yaml",
  "job_decider": "Below is a summary of my skills. Following that is a job description in YAML format, decide if I am a good fit for this job. To help know which jobs should be excluded I have created a section called 'Outside my professional scope', additionally I am devops. Any job that is primarily programming software rather than infrastructure is not a good fit. If you determine a good fit for me, return the 'Link to job', 'Job Title', and a short comment as to why it's a good fit. If it is not a good fit, output the number 1 (as in exit 1) and do not output anything else for a bad fit! finally any job that is on-site or hybrid and not in the city of montreal must be immediatly rejected"
	# Add more prompts here
}
